.logo {
    margin-right: 30rem;
}

img {
    width: 170px;
}

@media  (max-width: 1150px) {
    .logo {
        transition: 0.2s;
        margin-right: 15rem;
    }
}

@media  (max-width: 950px) {
    .logo {
        transition: 0.2s;
        margin-right: 7rem;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-left: 2rem;
    }
}