.nav-item {
    margin: 0 1.5rem;
    font-weight: 300;
}

.nav-item:hover {
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 960px) {
    .nav-item {
        margin: 0 1.5rem;
    }
}