.nav-container {
    padding: 1rem 10rem;
    background-color: #f8f9fa;
    font-weight: 300;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  }

.resp {
  display: none;
}
  
@media (max-width: 1024px) {
  .nav-container {
    padding: 1rem 5rem;
  }
}

@media (max-width: 768px) {
  .nav-container {
    padding: 1rem 0rem;
    display: block;
    text-align: left;
  }

  .nav-container div:nth-child(3){
    margin-top: 0.5rem;
  }

  .nav-item {
    padding: 0.25rem 2rem;
    display: block;
  }

  .nav-item:hover {
    background-color: #dddddd;
  }

  .resp {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 1.5rem;
  }

  .resp:hover {
    cursor: pointer;
  }
}