.work-card {
    border-radius: 2px;
    border: 1px solid grey;
    padding: 1.5rem 4rem;
    box-shadow: -1px 1px 4px grey;
    margin-bottom: 2rem;
    transition: 0.3s ease;
}

.work-card:hover {
    box-shadow: -2px 2px 7px grey;
    transition: 0.3s ease
}

.work-card h2 {
    margin: 0 0 0.2rem 0;
    font-weight: 500;
    font-size: 1.75rem;
}

.work-card h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
}

.work-card h3.date {
    margin-bottom: 0.35rem;
    font-weight: 400;
    font-size: 1rem;
}

.work-card p {
    margin: 1rem 0 0 0;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.underline {
    display: inline-block;
    border-bottom: 2px dotted grey;
    transition: 0.2s ease
}

.underline:hover {
    color: rgb(0, 127, 247);
    border-bottom: 2px dotted white;
    transition: 0.2s ease;
    cursor: pointer;
}

.work-card a:visited {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1300px) {
    .work-card {
        padding: 1rem 3rem;
        transition: 0.3s ease;
    }
}

@media (max-width: 1050px) {
    .work-card {
        padding: 1rem 2rem;
        transition: 0.3s ease;
    }
}

@media (max-width: 576px) {
    .work-card {
        padding: 1rem;
        transition: 0.3s ease;
    }

    .work-card h2 {
        font-size: 1.7rem;
    }

    .work-card p {
        font-size: 1.2rem;
    }
}