.header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #daf6ff;
}

.header p {
    font-weight: 300;
    font-size: 1.4rem;
    padding: 0;
    margin: 0.75rem 0 0 0;
}

.header p.large {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

b {
    font-weight: 500;
}

.header img {
    width: 140px;
    border: 5px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
}