.header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #daf6ff;
}

.header p {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}

.header p.large {
    padding-top: 0.75rem;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 0;
}

.header img {
    width: 140px;
    border: 5px solid white;
    border-radius: 50%;
    margin-bottom: 2rem;
}