.connect {
    display: flex;
    justify-content: center;
}

.connect-contents {
    text-align: left;
    width: 73.5rem;
}

.connect-contents p {
    font-weight: 300;
    font-size: 1.25rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .connect-contents {
        transition: 0.3s ease;
        width: 58.5rem;
    }
}

@media (max-width: 1050px) {
    .connect-contents {
        transition: 0.3s ease;
        width: 48.5rem;
    }

    .connect-contents p {
        font-size: 1.2rem;
    }
}

@media (max-width: 850px) {
    .connect-contents {
        transition: 0.3s ease;
        padding: 0 2rem;
        width: 100%;
    }
    
    .connect-contents p {
        font-size: 1.17rem;
    }
}

@media (max-width: 768px) {
    .connect-contents {
        text-align: center;
        width: 100%
    }
}