.connect {
    display: flex;
    justify-content: center;
}

.connect-contents {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

.connect-contents a {
    margin: 1rem 3rem;
}

.email {
    transition: 0.2s ease;
    color: #d44638;
}

.linkedin {
    transition: 0.2s ease;
    color: #0077B5;
}

.github {
    transition: 0.2s ease;
    color: #6e5494;
}

.email:hover {
    transition: 0.2s ease;
    color: rgb(241, 182, 177);
}

.linkedin:hover {
    transition: 0.2s ease;
    color: rgb(141, 198, 230);
}

.github:hover {
    transition: 0.2s ease;
    color: #C9BEDA;
}


@media (max-width: 576px) {
    .connect-contents a {
        font-size: 2.75rem;
        margin: 1rem 2rem;
    }
}