.about {
    display: flex;
    justify-content: center;
}

.about-contents {
    text-align: left;
    width: 73.5rem;
    transition: 0.3s ease;
}

.about-contents p {
    font-weight: 300;
    font-size: 1.25rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
}

.about-contents a {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted grey;
    transition: 0.2s ease;
}

.about-contents a:hover {
    text-decoration: none;
    color: rgb(0, 127, 247);
    border-bottom: 2px dotted transparent;
    transition: 0.2s ease;
}

@media (max-width: 1300px) {
    .about-contents {
        transition: 0.3s ease;
        width: 58.5rem;
    }
}

@media (max-width: 1050px) {
    .about-contents {
        transition: 0.3s ease;
        width: 48.5rem;
    }

    .about-contents p {
        font-size: 1.2rem;
    }
}

@media (max-width: 850px) {
    .about-contents {
        transition: 0.3s ease;
        padding: 0 2rem;
        width: 100%;
    }
    
    .about-contents p {
        font-size: 1.17rem;
    }
}

@media (max-width: 768px) {
    .about-contents {
        text-align: center;
        width: 100%;
    }
}