.projects {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.projects-contents {
    text-align: left;
    width: 73.5rem;
    transition: 0.3s ease;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .projects-contents {
        transition: 0.3s ease;
        width: 58.5rem;
    }
}

@media (max-width: 1050px) {
    .projects-contents {
        transition: 0.3s ease;
        width: 48.5rem;
    }
}

@media (max-width: 850px) {
    .projects-contents {
        transition: 0.3s ease;
        padding: 0 2rem;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .projects-contents {
        text-align: center;
        width: 100%
    }
}